{% extends 'base.html' %}
{% block title %}About_us{% endblock %}

{% block css %}
.acontainer {
    background: linear-gradient(90deg, #460C09, #532525);
    position: relative;
    height: 600px;
    width: 750px;
    box-shadow: 0px 0px 24px #FA3030;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -40%);
    border-radius: 26px;
}
.details{
     color: #FFF;
     width:95%;
     margin: 15px 15px 15px 15px;
}
.about{
    text-align: center;
    color: white;
    font-size: 32px;
    margin: 15px 15px 15px 15px;
}
{% endblock %}
{% load static %}
{% block body %}
<div class="acontainer">

    <h1 class="about"><b>About Us</b></h1>
    <div class="details">
        <p>Do you want to create and take quizzes? With the help of Quiz App this becomes all very simple. With this app you can create, take, and share quizzes.</p>

        <p><b>How it Works?</b></p>
        <p> Getting started is simple. You can sign up as a teacher and  create a quiz and give it a name. Then you can add questions and their answers to the quiz. When you're done you can take the quiz in normal or random order.</p>
       <p>OR</p>
        <p>You can sign up as a student take these quizzes and expand your knowledge horizon. </p>
        <p>Features</p>
        <p>* Create and take quizzes </p>
        <p>* Multiple Choice</p>
        <p>* Open questions</p>
        <p>It really is that simple to make a quiz and attempt them with the help of Quiz App. Go on give it a try!</p>

    </div>

</div>


{% endblock %}