{% extends 'base.html' %}
{% block title %} Add Question {% endblock %}

{% block body %}
<style>
  body,h1 {font-family: "Raleway", sans-serif}
  body, html {height: 100%}
  body {
  background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('https://wallpaperaccess.com/full/124383.jpg');
  min-height: 100%;
  width:100%;
  background-position: center;
  background-size: cover;
  #opacity:0.9

  }
  .head1 {
    color: #F2E21D;
    font-size: 2rem;
    font-weight: bold;
    height: 50px;
  }
  .head2 {
    color: #F99E1C;
    font-size: 2rem;
    font-weight: bold;
  }
  input[type=text] {
  width: 100%;
  padding: 4px 2px;
  margin: 4px 0;
  box-sizing: border-box;
  }
  input[type=number] {
  width: 100%;
  padding: 4px 2px;
  margin: 4px 0;
  box-sizing: border-box;
}

</style>
<div class="row py-3 p-4 bg-light rounded shadow-sm" style="  position: absolute; left: 50%; top: 23%;
    transform: translate(-50%, -10%); background:linear-gradient(90deg, #460C09, #460C09);">

    <h2 class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold"
        style="font-family:inherit;  text-align:center; width:100%; background:linear-gradient(90deg, #460C09, #460C09); color:#FFF;"><b>Add Question</b></h2>

  <form class="row g-4" action="/add_question/" method="POST" style="width: 100%; padding-left: 20px; background:linear-gradient(90deg, #460C09, #460C09); color:#FFF; text-align: left;"> {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary"  style="background-color:#EE9307; width: 50%; margin: 20px; ">Submit</button>
  </form>
  <br>
  <table class="table table-bordered" style="font-family: Times New Roman; color: white;">
    <thead>
      <tr>
        <th>Question</th>
        <th>Quiz</th>
        <th>Delete</th>
      </tr>
    </thead>
    {% for question in questions %}
    <tr>
      <td><a href="/add_options/{{question.id}}/">{{question.content}}</a></td>
      <td>{{question.quiz}}</td>
      <td><a href="/delete_question/{{question.id}}/" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}