{% extends 'base.html' %}
{% block title %} Add Quiz {% endblock %}

{% block body %}

<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2g2;
  padding: 20px;
}
</style>

<div>
    <div>
        <form action="/add_quiz/" method="POST"> {% csrf_token %}
            {{ form.as_p }}
    </div>
    
    <div style="padding-left: 40%;">
        <button type="submit" class="btn btn-info" style="background-color:#7BC143; width: 50%;">Submit</button>
    </div>
    
</form>
</div>
{% endblock %}
