{% extends 'base.html' %}
{% block title %} Login Page {% endblock %}
{% block css %}

<style>
  body,h1 {font-family: "Raleway", sans-serif}
  body, html {height: 100%}
  body {
  background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('https://wallpaperaccess.com/full/124383.jpg');
  min-height: 100%;
  width:100%;
  background-position: center;
  background-size: cover;
  #opacity:0.9

}
  .head1 {
    color: #F2E21D;
    font-size: 2rem;
    font-weight: bold;
    height: 50px;
  }

  .head2 {
    color: #F99E1C;
    font-size: 2rem;
    font-weight: bold;
  }


  </style>
  {% endblock %}
  {% block body %}

  <div class="row py-3 p-4 bg-light rounded shadow-sm" style="  position: absolute; left: 50%; top: 30%;
    transform: translate(-50%, -10%); background:linear-gradient(90deg, #460C09, #460C09);">

    <div>
        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold"
        style="font-family:inherit;  text-align:center; width:100%; background:linear-gradient(90deg, #460C09, #460C09); color:#FFF;"><h2><b>Log in</b></h2></div>
        <br>

        <form class="row g-4" method="POST" action="/login/" style="width: 75%; padding-left: 40px; background:linear-gradient(90deg, #460C09, #460C09); color:#FFF;">
            {% csrf_token %}
            <div class="col-md-12">
                <label for="inputname" class="form-label" style="font-weight: bold;"><i>
                        01. Username</i></label>
                <input type="text" placeholder="Enter Your Username" style="text-align: center;"
                    class="form-control" id="username" name="username" required>
            </div>

            <div class="col-md-12">
                <label for="inputname" class="form-label" style="font-weight: bold;"><i>
                        02. Password</i></label>
                <input type="password" placeholder="Enter Your Password" style="text-align: center;"
                    class="form-control" id="password" name="password" required>
            </div>

            <div style="padding-left: 50%;">
              <button type="submit" class="btn btn-primary" style="background-color: #EE9307; width: 50%;">Submit</button>
            </div>
          </form>   
      
  {% endblock %}
  