{% extends 'quiz_web/base.html' %}
{% block title %}Home{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('https://wallpaperaccess.com/full/124383.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  #opacity:0.9

}
.Logo {
 position: absolute;
 top: 42%;
 left : 50%;
 transform: translate(-45%,-100%);
}
.welcome{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -40%);
}
.w3-animate-top{
#color:#FFA07A;
font-weight:bold ;
}
.w3-center{
#color:#FFA07A;
font-weight:bold ;
}
.Tchr{
 position: absolute;
 top: 77.5%;
 left : 19.5%;
 transform: translate(-45%,-100%);
 filter: brightness(90%);
 border: 3px solid #555;
 border-radius: 5px;
}
.ITchr{
color: white;
text-align: center;
padding: 8px;
font-weight: bold;
font-size: 14px;
border-radius: 1px;
background-color: rgb(119, 119, 214);
}
.Stdnt{
 position: absolute;
 top: 77.5%;
 left : 79.5%;
 transform: translate(-45%,-100%);
 filter: brightness(90%);
 border: 3px solid #555;
 border-radius: 5px;
}
.IStdnt{
color: white;
text-align: center;
padding: 8px;
font-weight: bold;
font-size: 14px;
border-radius: 1px;
background-color: rgb(119, 119, 214);
}

.login__submit {
    position: absolute;
    left: 20%;
    top: 82.5%;
    transform: translate(-50%, -10%);
	background: #fff;
	font-size: 18px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 25%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}
.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}
.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}
.login__submit2 {
    position: absolute;
    left: 80%;
    top: 82.5%;
    transform: translate(-50%, -10%);
	background: #fff;
	font-size: 18px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 25%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}
.login__submit2:active,
.login__submit2:focus,
.login__submit2:hover {
	border-color: #6A679E;
	outline: none;
}
.button__icon2 {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}
 {% endblock %}

</style>

<body>
{% block content %}
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="Logo">
      <img src="../Image/Logo.png"
           width="325"
           height="325"
      />
  </div>
  <div class="welcome">
    <h1 class="w3-jumbo w3-animate-top"> Quiz World</h1>
    <hr class="w3-border-grey" style="margin:auto;width:60%;height:1px">
    <p class="w3-large w3-center">Spark Your Knowledge</p>
  </div>
    <div class="Tchr">
      <img src="../Image/8600.jpg"
           width="250"
           height="200"

      />
        <div class="ITchr"><label for="Teacher">I am a teacher</label>
        </div>
  </div>
  <div>
    <button class="button login__submit">
        <span class="button__text">Log In or Sign Up As a Teacher</span>
        <i class="button__icon fa fa-chevron-right"></i>
    </button>
  </div>
  </div>
  <div class="Stdnt">
      <img src="../Image/Study-area.jpg"
           width="250"
           height="200"

      />
        <div class="IStdnt"><label for="Student">I am a student</label>
        </div>
    </div>
  <div>
    <button class="button login__submit2">
        <span class="button__text2">Log In or Sign up As a Student</span>
        <i class="button__icon2 fa fa-chevron-right"></i>
    </button>
  </div>
{% endblock %}
</body>

